#cart-checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

#cart-container {
  background-color: var(--light-component);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 1.25rem;
  justify-content: center;
  overflow-y: scroll;
  max-height: 100%;
  gap: 3rem;
}

#checkout-container {
  background-color: var(--dark-component);
  height: 100vh;
  padding: 1rem;
  font-size: 1.5rem;
  overflow: hidden;
  min-width: 25%;
  max-width: 25%;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  max-width: 300px;
  min-height: 503px;
}

.cart-quantity-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.cart-btn {
  font-size: 1rem;
}

.cart-item-form-container {
  display: flex;
  flex-direction: column;
}
.cart-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.cart-btn-container {
  display: flex;
  flex-direction: row;
}
