#nav-container {
  display: flex;
  font-size: 2rem;
  background-color: #e9ecef;
  padding: var(--padding);
}

#nav-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.active-link {
  color: red;
}

.inactive-link {
  all: unset;
  cursor: pointer;
}
