#product-container {
  display: flex;
}

#product-container-child {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: space-between;
}

.product-item {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 155px;
  max-width: 100px;
  max-height: 155px;
  align-items: center;
}

.product-image {
  max-width: 75px;
  max-height: 75px;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
}

.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-quantity {
  max-width: 50px;
}
