@import url('./styles/header.css');
@import url('./styles/nav.css');
@import url('./styles/app-main.css');
@import url('./styles/products.css');
@import url('./styles/cart.css');
@import url('./styles/checkout.css');
@import url('./styles/imagemodal.css');

html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --padding: 0.5rem;
  --margin: 0.5rem;
  --gap: 0.5rem;
  --outside-padding: 1rem;
  --link-component-color: #dee2e6;
  --header-color: #495057;
  --nav-color: #adb5bd;
  --dark-component: #dee2e6;
  --light-component: #f8f9fa;
  --big-gap: 1rem;
  --font-size: 1.5rem;
}

#root {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}
